################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Laboratorium ASP.NET/FileContentIndex/3089951d-dee7-4a16-a309-2f2056988f27.vsidx
/.vs/Laboratorium ASP.NET/FileContentIndex/86b2f122-73d7-47be-a8a3-9a91d0f18cca.vsidx
*.vsidx
